<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <sessionState timeout="60" cookieless="false"></sessionState>

    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>

  <connectionStrings>
    <!--<add name="Conn" connectionString="Data Source=103.107.112.146\developer,5100;Initial Catalog=Logistics_Web;User ID=deepak;Password=deep@2451472" providerName="System.Data.SqlClient" />-->
    <add name="Conn" connectionString="Data Source=.;Initial Catalog=CustomPCBuilderDB;User ID=sa;Password=sqlserver@2008" providerName="System.Data.SqlClient" />
    <!--<add name="Conn" connectionString="Data Source=ABHISHEK;Initial Catalog=CustomPCBuilderDB;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Logistics_121ConnectionString" connectionString="Data Source=103.107.112.146\developer,5100;Initial Catalog=Logistics_121;User ID=deepak;Password=deep@2451472" providerName="System.Data.SqlClient" />


    <add name="Logistics_121ConnectionString" connectionString="Data Source=103.107.112.146\developer,5100;Initial Catalog=Logistics_121;User ID=deepak;Password=deep@2451472" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
</configuration>
